* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}

.point-ulist {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  gap: 0.5rem;
}

li {
  list-style-type: none;
}

h1,
h2,
.point-ulist,
li {
  margin: 0.5rem 0;
}
